body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

img, embed, object, video {
	max-width: 100%;
}

.container_flex {
	display: flex;
	flex-wrap: wrap;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__menu {
  display: none;
}

.header__title {
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  margin-top: 2px;
  display: inline-block;
  color: #212121;
  margin-bottom: 2px;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.imgmain {
	margin-right: auto;
	margin-left: auto;
}

.img1 {
	margin-right: auto;
	margin-left: auto;
	height: 160px;
	width: 555px;
}

.img2 {
	height: 160px;
	width: 555px;
}

@media screen and (max-width: 549px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 12px;
    margin-top: 6px;
  }
  #title_info {
    width: 60%;
  }
  .header__title {
    font-size: 2em;
    margin-left: 100px;
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }

  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
}